.todolist-body {
    padding: 10px;
    margin: 10px;
}

.todolist-title {
    text-shadow: 5px 5px 6px grey;
    margin: 16px 5px 3px;
}

.search-input {
    box-shadow: 5px 8px 30px -5px grey;
}

.todolist-ul {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    width: clamp(150px, 95%, 450px);
}

.todolist-item {
    background-color: rgba(103, 234, 234, 0.64);
    margin-top: 5px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 8px 30px -5px grey;
}

.btn {
    box-shadow: 5px 8px 30px -5px grey;
}

.btn-remove {
    margin-left: 25px;
}